$theme-colors: (
	"primary": #006fd6,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);
$enable-shadows: true;
$font-family-sans-serif: 'GoogleSansRegular', sans-serif;
$dropdown-box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
$dropdown-border-color: #f7f7f7;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";