.metrics {
  margin-top: 15px;

  .metrics-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 990px) {
      flex-wrap: wrap;
    }

    .metric-card {
      width: 258px;
      min-height: 129px;
      background-color: #fff;
      box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
      border-radius: 6px;
      padding: 20px;

      @media (max-width: 1380px) {
        width: 240px;
      }
      @media (max-width: 1280px) {
        width: 200px;
      }
      @media (max-width: 1075px) {
        width: 180px;
      }

      @media (max-width: 990px) {
        width: 49%;
        margin-bottom: 20px;
      }

      @media (max-width: 374px) {
        width: 100%;
      }

      .metric-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .metric-card-count {
          font-family: GoogleSansBold;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          letter-spacing: -0.44px;
          color: #19191D;
        }

        .info-icon {
          height: 23px;
          width: 23px;
          fill: #B4B4BB;
        }
      }

      .metric-card-label {
        font-family: GoogleSansMedium;
        font-size: 16px;
        line-height: 36px;
        color: #9696A0;
      }
    }
  }
}